{% extends "openawards/user_detail.html" %}

{% block user_begin %}
<form method="post" id="user-form" enctype="multipart/form-data">
{% csrf_token %}
{% endblock %}

{% block under-image %}
<div class="user-panel">
    <a href="#" id="change-image-btn" class="div-button-little">
        <div>
          Change image
        </div>
    </a>
    {% load static %}
    <script src="{% static 'js/image-control.js' %}"></script>
</div>
{% endblock %}

{% block left_bar %}{% endblock %}

{% block user_content %}
<h2>User account</h2>

<a href="#" class="div-button" onclick="$('#user-form').submit();">
    <div>
      Save changes
    </div>
</a>
{% endblock %}

{% block user_end %}
<input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" style="visibility: hidden; height: 0;"/>
<script>
    $( document ).ready(function() {
        var getImgButton = $('#change-image-btn');
        var fileField = $('#avatar');
        var profileImage = $('#avatar-img');
        imageControl(getImgButton, fileField, profileImage);
    });
</script>
</form>
{% endblock %}