{% extends "base.html" %}

{% block content %}
<div class="global-content">
    <div>
        <div>
            <img src="{{ object.cover.url }}">
        </div>
        <div>
            <h2>{{ object.title }}</h2>
            Thanks to <a href="{{ object.creator.profile_url }}">{{ object.creator.full_name }}</a>
            <div>
                <span>License: </span><span>{{ object.license.name }}</span><br>
                <span>Created on: </span><span>{{ object.created }}</span>
                {% if object.won_at|length > 0 %}
                <span>Awarded on:</span>
                <ul>
                    {% for award in object.won_at %}
                    <li>{{ award.name}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div>
                <span>Description:</span> <br>
                <span>
                    {{ object.description }}
                </span>
            </div>
        </div>
    </div>
    {% if object.current_awards|length > 0 %}
    <div>
        Taking part of:
            {% for award in object.current_awards %}
                {% include 'openawards/reusable/award-list.html' with award=award show_vote=True work=object forbidden_awards=forbidden_awards %}
            {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
