{% extends "base.html" %}

{% block content %}
<div class="global-content work-detail">
    <div class="work-data">
        <div>
            <img src="{{ object.cover.url }}">
        </div>
        <div>
            <h2>{{ object.title }}</h2>
            Thanks to <a href="{{ object.creator.profile_url }}">{{ object.creator.full_name }}</a>
            <div class="work-url">
                <span>You can find it on </span><a href="{{ object.url }}">{{ object.url }}</a>
            </div>
            <div class="work-data-details">
                <span class="date">Registered on: {{ object.created }}</span>
                <br>
                <span>License: </span><a href="{{ object.license.url }}">{{ object.license.name }}</a><br>
                {% if object.won_at|length > 0 %}
                <span>Awarded on:</span>
                <ul>
                    {% for award in object.won_at %}
                    <li>{{ award.name}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div>
                <h3>Description:</h3>
                <p>
                    {{ object.description }}
                </p>
            </div>
        </div>
    </div>
    {% if object.current_awards|length > 0 %}
    <div class="work-awards">
        <h3>Taking part on:</h3>
            {% for award in object.current_awards %}
                {% include 'openawards/reusable/award-list.html' with award=award show_vote=True work=object forbidden_awards=forbidden_awards %}
            {% endfor %}
    </div>
    {% else %}
    <div class="not-enrolled">This work is not enrolled at any award.</div>
    {% endif %}
</div>
{% endblock %}
