@import url("https://fonts.googleapis.com/css?family=K2D|Source+Sans+Pro|Montserrat");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
}

body {
  width: 100%;
}

a {
  color: #2b2b2b;
}

.div-button {
  text-decoration: none;
}
.div-button div {
  padding: 10px 30px;
  background-color: #528564;
  font-weight: bold;
  color: white;
  display: inline;
}
.div-button div:hover {
  background-color: gray;
}

.div-button-little {
  text-decoration: none;
}
.div-button-little div {
  padding: 5px 5px;
  background-color: #528564;
  font-weight: bold;
  color: white;
  display: inline;
  font-size: 0.6rem;
}
.div-button-little div:hover {
  background-color: gray;
}

.hidden {
  display: none;
}

.subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  color: white;
}

header {
  background-image: linear-gradient(90deg, #528564, #B6D1BF, #528564);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
  padding: 25px 0;
}
header a {
  text-decoration: none;
}
header .header-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .login-box {
  display: inline-flex;
  flex-direction: column;
  height: 65%;
  padding: 8px;
  justify-content: center;
}
header .login-box .login-form {
  margin-bottom: 5px;
}
header .login-box .login-form form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
header .login-box .login-options {
  display: flex;
  flex-direction: row;
}
header .login-box .login-options .login-option {
  display: flex;
  justify-content: right;
  width: 50%;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
}
header .login-box input[type=password], header .login-box input[type=text] {
  width: 45%;
  border: solid 1px #2b2b2b;
  padding: 5px;
}
header .login-box input {
  margin: 0 3px;
}
header .login-box input[type=submit] {
  padding: 2px 10px;
}
header .login-box a {
  color: white;
  font-size: 0.9rem;
  text-decoration: underline;
  font-weight: bold;
}
header .title {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
header .title h1 {
  color: white;
  font-family: "K2D", sans-serif;
}
header .title .logo-container {
  background-color: white;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
header .title .logo-container .logo {
  width: 75px;
  height: 75px;
}
header .title .text {
  padding-left: 10px;
}

.menu {
  width: 100%;
  border-bottom: 2px solid #B6D1BF;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px 0;
}
.menu ul {
  width: 75%;
  padding-left: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #528564;
}
.menu ul li a:hover {
  text-decoration: underline;
}

.user-menu-button {
  padding: 5px 20px;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-menu-button .avatar-img {
  width: 35px;
  border-radius: 50%;
  border: 5px solid #528564;
  padding: 0;
  margin: 0;
}
.user-menu-button svg {
  width: 35px;
  height: 35px;
}
.user-menu-button span {
  color: white;
  padding: 0 10px;
  font-size: 1.2rem;
}
.user-menu-button .little-text {
  font-size: 0.8rem;
}

.user-menu {
  position: absolute;
  width: 200px;
}
.user-menu .user-menu-decoration {
  width: 100%;
  display: flex;
  justify-content: center;
}
.user-menu .user-menu-decoration svg {
  fill: #528564;
}
.user-menu .user-menu-list {
  border-radius: 4px;
  background-color: white;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 3px solid #528564;
}
.user-menu a {
  border-top: solid 1px #e9e9e9;
  width: 75%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 7px 0;
  font-family: "Source Sans Pro", sans-serif;
}
.user-menu a:hover {
  color: #528564;
}

.get-credits-container {
  background-color: #e9e9e9;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px 0;
}
.get-credits-container p {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 10%;
}

.content {
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

footer {
  width: 100%;
  font-size: 0.75rem;
  margin: 50px 0;
}
footer div {
  text-align: center;
  color: gray;
}
footer div a {
  color: gray;
}
footer .dev-by {
  color: #528564;
}
footer .dev-by a {
  color: #528564;
}

.global-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.big-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.generic {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.generic .generic-content {
  width: 35%;
  padding: 15px 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}
.generic .generic-content h1 {
  font-size: 1.75em;
  padding: 10px 0;
  color: #528564;
}
.generic .generic-content p {
  padding: 10px 0;
}
.front-section {
  background-color: #e9e9e9;
  margin-bottom: 20px;
  width: 100%;
}
.front-section h3 {
  background-color: #B6D1BF;
  font-size: 3vw;
  padding: 20px;
}

.front-list {
  display: flex;
  flex-wrap: wrap;
}

.awards-list {
  display: flex;
  justify-content: space-between;
}

.award-thumbnail {
  margin: 10px;
  width: 500px;
  height: 700px;
  border-radius: 13px;
  display: flex;
}
.award-thumbnail span {
  font-size: 3vw;
  background-color: rgba(255, 255, 255, 0.3);
  align-self: flex-end;
  margin-bottom: 5px;
}

.works-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.work-thumbnail {
  padding: 10px;
  background-color: white;
  border-radius: 13px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  justify-content: space-between;
}
.work-thumbnail img {
  border-radius: 13px;
  width: 100%;
  max-height: 200px;
}
.work-thumbnail .work-title {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.user-data {
  width: 55%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.column-data {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.column-data img {
  width: 75%;
  margin: 0 auto;
  border-radius: 5%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}
.column-data .realname {
  font-size: 1.3rem;
  font-weight: bold;
}
.column-data .username {
  margin-top: 5px;
  color: gray;
}
.column-data .credits {
  width: 100%;
  background-color: #e9e9e9;
  margin-top: 20px;
  border-radius: 5%;
}
.column-data .credits span {
  display: block;
}
.column-data .credits .number {
  font-size: 5rem;
  background-color: #528564;
  border-radius: 50%;
  color: white;
}

.user-panel {
  margin: 10px 0;
}

.user-content {
  width: 85%;
}
.user-content .user-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-content .works-content {
  width: 100%;
  margin-top: 20px;
}

.user-historic {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 13px;
}

.work-li {
  width: 100%;
  border: 1px solid #528564;
  display: flex;
  flex-direction: row;
  border-radius: 13px;
  margin: 10px 0;
  padding: 10px;
}
.work-li .work-title {
  font-weight: bold;
}
.work-li .work-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.work-li .work-vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.work-li img {
  max-height: 100px;
  max-width: 100px;
  margin-right: 15px;
  border-radius: 13px;
}

.work-detail .work-data {
  display: flex;
  flex-direction: row;
}
.work-detail .work-data img {
  padding-right: 20px;
  max-width: 400px;
}
.work-detail .work-data .work-data-details {
  padding: 20px 0;
}
.work-detail .work-data .date {
  font-style: italic;
}
.work-detail .work-awards {
  width: 100%;
}

.award-detail .award-image {
  padding: 20px 0;
  border-radius: 75px;
}
.award-detail h2 {
  padding: 10px 0;
}
.award-detail .date {
  font-style: italic;
}
.award-detail p {
  text-align: justify;
}
.award-detail .enroll-your-work {
  margin-top: 10px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.award-detail select {
  width: 100%;
}
.award-detail #my-works {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.award-detail .no-user {
  padding: 20px 0;
  width: 100%;
}

/*# sourceMappingURL=stylesheet.css.map */
