<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Open Awards</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="{% static 'styles/stylesheet.css' %}" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% block head %}{% endblock %}
  </head>
  <body>
  <header>
    <div class="header-container">
      <a href="{% url 'home' %}">
        <div class="title">
          <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" class="logo">
          </div>
          <div class="text">
            <h1>Open Awards</h1>
            <p class="subtitle">Give back to those who share</p>
          </div>
        </div>
      </a>

      {% block loginbox %}
        {% if user.is_authenticated %}
        <div>
          <a href="#" onclick="document.getElementsByClassName('user-menu')[0].style.visibility = (document.getElementsByClassName('user-menu')[0].style.visibility === 'hidden') ? 'visible' : 'hidden';">
          <div class="user-menu-button">
              <img src="https://avatars3.githubusercontent.com/u/52430?s=400&v=4">
              <div>
                <span>{{ user.get_username }}</span>
                <br />
                <span class="little-text">{{ user.remain_credits }} credits - 0 votes given</span>
              </div>
          </div>
          </a>
          <div id="user-menu" class="user-menu" style="visibility: hidden;">
            <a href="{% url 'my_profile' %}">My profile</a>
            <a href="{% url 'account' %}">Edit my account</a>
            <a href="{% url 'historic' %}">My history</a>
            <a href="#">Admin</a>
            <a href="{% url 'logout' %}">Log out</a>
          </div>
        </div>
        {% else %}
        <div class="login-box">
          <div class="login-form">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type='submit' value='login'>
            </form>
          </div>
          <div class="login-options">
            <div class="login-option"></div>
            <div class="login-option">
              <a href="{% url 'password_reset' %}">Reset password</a>
              <a href="{% url 'signup' %}">Sign up</a>
            </div>
          </div>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </header>
  <div class="menu">
    <ul>
      <li><a href="{% url 'home' %}">Current awards</a></li>
      <li><a href="{% url 'past_awards' %}">Past awards</a></li>
      <li><a href="{% url 'works_list' %}">Works list</a></li>
      <li><a href="{% url 'etiquette' %}">Etiquette</a></li>
      <li><a href="https://openawards.org/en/">Blog</a></li>
    </ul>
  </div>
  {% block get_credits %}
  {% if not user.is_authenticated or not user.has_credits %}
  <div class="get-credits-container">
    <p>Vote for your favorite works</p>
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}" class="div-button">
    {% else %}
    <a href="#" class="div-button">
    {% endif %}
    <div>
      Get Credits Now
    </div>
    </a>
  </div>
  {% endif %}
  {% endblock %}
  <div class="content">
  {% block content %}
    NO OVERRIDE
  {% endblock %}
  </div>
  {% block pre_footer %}
  {% endblock %}

  <script>
    $( document ).ready(function() {
      $( "#user-menu" ).mouseleave(function() {
        document.getElementsByClassName('user-menu')[0].style.visibility = 'hidden';
      });
    });
  </script>

  <footer>
    <div>
      This web site is available under the <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike License</a>; additional terms may apply.  By using this site, you agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
    </div>
    <div class="dev-by">
      Proudly developed by <a href="https://codi.coop">codi.coop</a>
    </div>
  </footer>
  </body>
</html>