.subtitle {
    font-family: $subtitle-font;   
    font-weight: bolder;
    color: $subtitle-color;
}

header {
    background-color: $color-1;
    display: flex;
    justify-content: center;
    vertical-align: middle;

    a {
        text-decoration: none;
    }

    .header-container {
        width: $content-width;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .login-box {
        display: inline-flex;
        flex-direction: column;
        background-color: $color-2;
        height: 65%;
        padding: 8px;
        justify-content: center;

        .login-form {
            margin-bottom: 5px;

            form {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }
        }

        .login-options {
            display: flex;
            flex-direction: row;

            .login-option {
                display: flex;
                justify-content: right;
                width: 50%;
                flex-direction: column;
                height: 100%;
                align-items: flex-end;
            }
        }

        %inputs {
            width: 45%;
            border: solid 1px black;
            border-radius: 5%;
        }

        input {
            margin: 0 3px;
        }
        
        input[type=text] {
            @extend %inputs;
        }

        input[type=password] {
            @extend %inputs;
        }

        a {
            color: black;
            font-size: 0.9rem;
            text-decoration: underline;
        }
    }

    .title {
        display: inline-flex;
        flex-direction: row;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;

        h1 {
            color: white;
            font-family: $title-font;
        }

        .logo-container {
            background-color: white;
            border-radius: 50%;
            width: 75px;
            height: 75px;

            .logo {
                width: 75px;
                height: 75px;
            }
        }

        .text {
            padding-left: 10px;
        }
    }
}

.menu {
    width: 100%;
    border-bottom: 2px solid $color-2;
    justify-content: center;
    align-content: center;
    align-items: center;


    ul {
        width: $content-width;
        padding-left: (100% - $content-width) / 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;

        li {
            list-style: none;

            a {
                font-family: $subtitle-font;
                text-decoration: none;
                font-weight: bold;
                color: $color-1;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.content {
    min-height: 100vh;
    width: 100%;
}

footer {
    width: 100%;
    font-size: 0.75rem;
    margin: 10px 0;

    div {
        text-align: center;
        color: $color-3;

        a {
            color: $color-3;
        }
    }

    .dev-by {
        color: $color-1;

        a {
            color: $color-1;
        }
    }
}
