@import url("https://fonts.googleapis.com/css?family=K2D|Source+Sans+Pro|Montserrat");

$color-1: #528564;
$color-2: #B6D1BF;
$color-3: gray;

$content-width: 75%;

$base-font: "Montserrat", sans-serif;
$title-font: "K2D", sans-serif;
$subtitle-font: "Source Sans Pro", sans-serif;
$subtitle-color: white;

* {
    padding: 0;
    margin: 0;
    font-family: $base-font;
}

body {
    width: 100%;
}

a {
    color: black;
}