@import url("https://fonts.googleapis.com/css?family=K2D|Source+Sans+Pro|Montserrat");

$base-font: "Montserrat", sans-serif;
$header-backcolor: #8B7C58;
$title-font: "K2D", sans-serif;
$subtitle-font: "Source Sans Pro", sans-serif;
$subtitle-color: white;

* {
    padding: 0;
    margin: 0;
    font-family: $base-font;
}

body {
    width: 100%;
}

h1 {
    font-family: $title-font;
    color: white;
}

