@font-face {
    font-family: TruenoRegular;
    src: url("../../static/fonts/TruenoRg.woff") format("woff"), url("../../statics/fonts/TruenoRg.ttf")  format("truetype");
}

$color-1: #FFA74B;
$color-2: #FF8300;
$color-3: #FF8300;
$color-4: #FFD5A8;
$color-5: white;

$text-color: #2b2b2b;

$header-width: 75%;
$content-width: 55%;
$content-big-width: 85%;

$base-font: 'TruenoRegular', sans-serif;
$title-font: 'TruenoRegular', "K2D", sans-serif;
$subtitle-font: 'TruenoRegular', "Source Sans Pro", sans-serif;
$subtitle-color: $color-5;

* {
    padding: 0;
    margin: 0;
    font-family: $base-font;
    color: $text-color;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    width: 100%;
}

a {
    color: $text-color;
}

.div-button {
    text-decoration: none;
    display: flex;
    justify-content: center;

    div {
        padding: 10px 30px;
        background-color: $color-1;
        font-weight: bold;
        color: $color-5;
        display: inline;

        &:hover {
            background-color: $color-3;
        }
    }
}

.div-button-little {
    text-decoration: none;

    div {
        padding: 5px 5px;
        background-color: $color-1;
        font-weight: bold;
        color: $color-5;
        display: inline;
        font-size: 0.6rem;

        &:hover {
            background-color: $color-3;
        }
    }
}

.hidden {
    display: none;
}