.generic {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    h1 {
        font-size: 1.75em;
        padding: 10px 0;
        color: $color-1;
        margin-bottom: 10px;
    }

    .generic-content {
        width: 35%;
        // background-color: $color-4;
        padding: 15px 20px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.8);

        p {
            padding: 10px 0;
        }

        td {
            width: 30%;
        }

        input[type=text] {
            margin: 3px 0;
            width: 100%;
        }

        input[type=password] {
            margin: 3px 0;
            width: 100%;
        }

        input[type=email] {
            margin: 3px 0;
            width: 100%;
        }

        input[type=submit] {
            margin: 3px 0;
        }

        textarea {
            margin: 3px 0;
            width: 100%;
        }

        span {
            font-size: 0.7rem;
        }

        li {
            font-size: 0.7rem;
            list-style: none;
        }
    }

}

.bottom-spacer {
    margin-bottom: 15px;
}
