.generic {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    .generic-content {
        width: 35%;
        background-color: $color-4;
        padding: 15px 20px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.8);

        h1 {
            font-size: 1.75em;
            padding: 10px 0;
        }

        p {
            padding: 10px 0;
        }

        input[type=text] {
        }
    }
}