.work-li {
    width: 100%;
    border: 1px solid $color-1;
    display: flex;
    flex-direction: row;
    border-radius: 13px;
    margin: 10px 0;
    padding: 10px;

    .work-title {
        font-weight: bold;
    }

    .work-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .work-vote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }

    img {
        max-height: 100px;
        max-width: 100px;
        margin-right: 15px;
        border-radius: 13px;
    }
}

.work-detail {
    .work-data {
        display: flex;
        flex-direction: row;

        img {
            padding-right: 20px;
            max-width: 400px;
        }

        .work-data-details {
            padding: 0 0 20px 0;
        }

        .date {
            font-style: italic;
        }
    }

    .work-awards {
        width: 100%;
    }
}

.not-enrolled {
    color: $color-1;
    font-weight: bold;
    margin: 100px;
    padding: 20px;
    border: 1px solid $color-2;
    width: 100%;
    text-align: center;
}

.work-url {
    margin: 20px 0;
    border: 1px solid $color-2;
    padding: 5px;
    background-color: $color-4;

    a {
        color: $color-1;
        font-weight: bold;
    }
}